exclude = [
    "gtk-rs-examples",
]

[advisories]
db-path = "~/.cargo/advisory-db"
db-urls = ["https://github.com/rustsec/advisory-db"]
vulnerability = "deny"
unmaintained = "warn"
notice = "warn"
ignore = []

[licenses]
unlicensed = "deny"
allow = [
  "MIT",
  "Apache-2.0",
]
copyleft = "deny"
allow-osi-fsf-free = "either"
default = "deny"
confidence-threshold = 0.8

[bans]
multiple-versions = "deny"
wildcards = "allow"
highlight = "all"

[sources]
unknown-registry = "deny"
unknown-git = "deny"

# proc-macro-error depends on an old version of syn
# See https://github.com/gtk-rs/gtk-rs-core/issues/1174
[[bans.skip]]
name = "syn"
version = "1.0"

# https://github.com/PistonDevelopers/freetype-rs/pull/254
# https://gitlab.redox-os.org/redox-os/syscall/-/issues/34
[[bans.skip]]
name = "bitflags"
version = "1.0"
