[external_libraries]
Gio = {min_version = "2.56"}

[options]
girs_directories = ["../gir-files"]
library = "GioUnix"
version = "2.0"
min_cfg_version = "2.56"
use_gi_docgen = true
target_path = "."
work_mode = "normal"
single_version_file = true
deprecate_by_min_version = true
trust_return_value_nullability = true

generate = [
    "GioUnix.MountMonitor",
]

ignore = [
]

manual = [
    "Gio.AppInfo",
    "Gio.AppLaunchContext",
    "Gio.Icon",
    "Gio.InputStream",
    "Gio.OutputStream",
    "Gio.PollableInputStream",
    "Gio.PollableOutputStream",
    "Gio.SocketControlMessage",
    "Gio.UnixFDList",
    "GLib.Error",
    "GLib.KeyFile",
    "GLib.SpawnFlags",
]

[[object]]
name = "GioUnix.*"
status = "generate"
    [[object.function]]
    pattern = "mount_(at|compare|copy|entries_changed_since|entries_get|entries_get_from_file|for|free|get_device_path|get_fs_type|get_mount_path|get_options|get_root_path|guess_can_eject|guess_icon|guess_name|guess_should_display|guess_symbolic_icon|is_readonly|is_system_internal|points_changed_since|points_get|points_get_from_file)"
    manual = true # Should be part of MountEntry
    [[object.function]]
    pattern = "mounts_(get|get_from_file|changed_since)"
    manual = true # Should be part of MountEntry

[[object]]
name = "GioUnix.DesktopAppInfo"
status = "generate"
manual_traits = ["DesktopAppInfoExtManual"]
    [[object.function]]
    name = "get_boolean"
    # Retrieves the boolean value of a key
    rename = "boolean"
    [[object.function]]
    name = "search"
    # returns vec of string
    manual = true
    [[object.function]]
    name = "launch_uris_as_manager_with_fds"
    # has to use RawFd / SOCKET
    manual = true

[[object]]
name = "GioUnix.FDMessage"
status = "generate"
manual_traits = ["FDMessageExtManual"]
    [[object.function]]
    pattern = "(append_fd|steal_fds)"
    manual = true

[[object]]
name = "GioUnix.FileDescriptorBased"
status = "generate"
manual_traits = ["FileDescriptorBasedExtManual"]
    [[object.function]]
    name = "get_fd"
    manual = true

[[object]]
name = "GioUnix.MountEntry"
status = "generate"
concurrency = "send+sync"
version = "2.84"
    [[object.function]]
    pattern = "*"
        [[object.function.parameter]]
        pattern = "(mount1|mount2|mount_entry)"
        const = true
    [[object.derive]]
    name = "Debug"
    [[object.function]]
    pattern = "compare|get_device_path|get_fs_type|get_mount_path|guess_can_eject|guess_name|guess_icon|guess_should_display|guess_symbolic_icon|is_readonly|is_system_internal"
        [[object.function.parameter]]
        pattern = ".+"
        const = true
    [[object.function]]
    name = "get_options"
        [[object.function.parameter]]
        pattern = ".+"
        const = true
    [[object.function]]
    name = "get_root_path"
        [[object.function.parameter]]
        pattern = ".+"
        const = true
    [[object.function]]
    name = "at"
    rename = "for_mount_path"
    [[object.function]]
    name = "for"
    rename = "for_file_path"

[[object]]
name = "GioUnix.MountPoint"
status = "generate"
concurrency = "send+sync"
    [[object.derive]]
    name = "Debug"
    [[object.function]]
    pattern = "*"
        [[object.function.parameter]]
        pattern = "(mount1|mount2|mount_point)"
        const = true

[[object]]
name = "GioUnix.InputStream"
status = "generate"
trait_name = "UnixInputStreamExt"
manual_traits = ["UnixInputStreamExtManual"]
    [[object.function]]
    name = "new"
    # has to use RawFd
    manual = true
    generate_doc = false

    [[object.function]]
    name = "set_close_fd"
    # Can cause file descriptor leaks
    manual = true
    generate_doc = false

    [[object.function]]
    name = "get_fd"
    # conflicts with as FileDescriptorBased::fd
    ignore = true

    [[object.property]]
    name = "fd"
    # has to use RawFd
    ignore = true

    [[object.property]]
    name = "close-fd"
    ignore = true


[[object]]
name = "GioUnix.OutputStream"
status = "generate"
trait_name = "UnixOutputStreamExt"
manual_traits = ["UnixOutputStreamExtManual"]
    [[object.function]]
    name = "new"
    # has to use RawFd
    manual = true
    generate_doc = false

    [[object.function]]
    name = "set_close_fd"
    # Can cause file descriptor leaks
    manual = true
    doc_trait_name = "OutputStreamExtManual"
    generate_doc = false

    [[object.function]]
    name = "get_fd"
    # conflicts with as FileDescriptorBased::fd
    ignore = true

    [[object.property]]
    name = "fd"
    # has to use RawFd
    ignore = true

    [[object.property]]
    name = "close-fd"
    ignore = true